body {
    background-color: #dedede;
}

.body-content {
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1
}

.footer-content {
    flex: .01;
}

.code-box {
    border: solid 1px black;
    min-width: 100%;
    max-width: 100%;
    height: 80vh;
    overflow: auto;
    background-color: white;
}

.box-header {
    width: 100%;
    text-align: center;
}

footer p {
    margin-top: 7px;
}

.control-container {
    display: flex;
    justify-content: space-between;
}
input:disabled {
    background: #dddddd;
}

#startingLineNumber {
    width: 20%;
    margin-left: 0.5em;
}
.line-num-controls {
    width: 60%;
}

.btn-terminal {
    background-color: #333;
    color: #fff !important;
}

.btn-terminal:hover {
    background-color: #222;
}